.content {
  display: none;
}

.checkbox:checked ~ .content {
  display: block;
}
body{
  height: 100%;
  width: 100%;
  background-image: url(../Imagenes/fondo-princip.jpg);
}
.caja{
  padding-top: -20%;
  position: absolute;
  height: 40px;
  width:98.2%;
  background-color: rgba(255, 255, 255, 0.712);
  text-align: center;
  padding-top: 1.5%;
  font-weight: bold;
  font-size: large;
  border: solid black;
}
.caja ul li{
  position: relative;
  top: -20px;
  margin-right: 5%;
  margin-left: 5%;
  display:inline;
  transition: .35s ease-in-out;
}
.caja ul li a{
  text-decoration: none;
  background-color: none;
  color: red;
  transition: .35s ease-in-out;
}

.caja ul li a:hover{
  color: rgb(62, 37, 206);
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.contenido{
  position: absolute;
  left: 5%;
  width: 90.3%;
  height: 150%;
  top: 28.7%;
  background-color: rgba(255, 255, 255, 0.842);
  border: solid black;
}
.formulario{
  margin-top: 5%;
  margin-left: 5%;
  font-size: xx-large;
}
tr td{
  margin-top: 10%;
  display:flex;
  justify-content: space-between;
}