body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    background-image: url(../Imagenes/fondo-princip.jpg);
}
.pepe{
    z-index: 2;
}
.caja{
    padding-top: -20%;
    position: absolute;
    height: 40px;
    width:98.2%;
    background-color: rgba(255, 255, 255, 0.712);
    text-align: center;
    padding-top: 1.5%;
    font-weight: bold;
    font-size: large;
    border: solid black;
}
.caja ul li{
    position: relative;
    top: -20px;
    margin-right: 5%;
    margin-left: 5%;
    display:inline;
    transition: .35s ease-in-out;
}
.caja ul li a{
    text-decoration: none;
    background-color: none;
    color: black;
    transition: .35s ease-in-out;
}
li:first-child:hover{
    background-color:rgb(107, 107, 247);
}
li:nth-child(2):hover{
    background-color: rgb(247, 57, 57);
}

.wellcome{
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 8%;
    width: 89.9%;
    height: 8%;
    padding-top: 0.9%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: x-large;
    background-color: rgba(107, 105, 105, 0.932);
    border-style:solid;
    z-index: 1;
}
p{
    position: absolute;
    left: 36%;
    top: -5%;
}
.pepe{
    position: absolute;
    top: -40%;
    scale: 0.5;
    left: 27%;
}
.pepe2{
    position: absolute;
    top: -40%;
    scale: 0.5;
    left: 61.7%;
    transform: rotateY(180deg);
    z-index: 1;
}

.contenido{
    position: absolute;
    left: 5%;
    width: 90.3%;
    height: 150%;
    top: 28.7%;
    background-color: rgba(255, 255, 255, 0.432);
    border: solid black;
    border-top: none;
}

.contenido tr td div{
    position: absolute;
    box-shadow:10px 10px 50px black;
    transition: .35s ease-in-out;
}

.Slipknot{
    top: 5%;
    left: 5%;
    width: 20%;
    height: 30%;
}
.corey{
    width: 100%;
    left: -2%;
    opacity: 0;
    top: -23%;
    transition: all 0.5s;
    position: absolute;
    z-index: 1;
}
.fondoslip{
    top: 5%;
    left: 5%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.letras{

    width: 100%;
    left: -2%;
    top: 30%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: 1;
}
.Slipknot:hover .fondoslip{
    filter: brightness(50%);
}
.Slipknot:hover .corey{
    opacity: 1;
    scale: 0.5;
    transform: translate3d(0%, 20%, 100px);
}
.Slipknot:hover .letras{
    opacity: 1;
    scale: 0.7;
    transform: translate3d(0%, 20%, 100px);
}

.SystemOfADown{
    top: 5%;
    left: 40%;
    width: 19.9%;
    height: 30%;
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.serj{
    width: 100%;
    opacity: 0;
    left: -2%;
    transition: all 0.5s;
    position: absolute;
    z-index: 1;
}
.soadlogo{
    width: 100%;
    top: 70%;
    left: -2%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: 1;
}
.fondosoad{
    top: 5%;
    left: 5%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.SystemOfADown:hover .fondosoad{
    filter: brightness(50%);
}
.SystemOfADown:hover .serj{
    opacity: 1;
    scale: 0.7;
    transform: translate3d(0%, -10%, 100px);
}
.SystemOfADown:hover .soadlogo{
    opacity: 1;
    scale: 0.7;
    transform: translate3d(0%, -10%, 100px);
}

.GunsRoses{
    top: 5%;
    left: 75%;
    width: 20%;
    height: 30%;
}
.fondoguns{
    top: 5%;
    left: 5%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.gunsband{
    width: 100%;
    top: 5%;
    left: -2%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: 1;
}
.gunslogo{
    width: 100%;
    top: 50%;
    left: -2%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: 1;
}
.GunsRoses:hover .fondoguns{
    filter: brightness(50%);
}
.GunsRoses:hover .gunsband{
    opacity: 1;
    scale: 0.7;
    transform: translate3d(0%, -5%, 100px);
}
.GunsRoses:hover .gunslogo{
    opacity: 1;
    scale: 0.7;
    transform: translate3d(0%, -5%, 100px);
}

.Korn{
    top: 50%;
    left: 5%;
    width: 20%;
    height: 30%;
}
.kornfondo{
    top: 5%;
    left: 5%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.kornband{
    width: 100%;
    top: 10%;
    left: -2%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: 1;
}
.kornlogo{
    width: 100%;
    opacity: 0;
    top: 15%;
    left: -2%;
    transition: all 0.5s;
    position: absolute;
    z-index: 1;
}
.Korn:hover .kornfondo{
    filter: brightness(50%);
}
.Korn:hover .kornband{
    opacity: 1;
    scale: 0.9;
    transform: translate3d(0%, 30%, 100px);
}
.Korn:hover .kornlogo{
    opacity: 1;
    scale: 0.7;
    transform: translate3d(0%, 30%, 100px);
}
.Rammstein{
    top: 50%;
    left: 40%;
    width: 19.9%;
    height: 30%;
}
.fondorammstein{
    top: 5%;
    left: 5%;
    width: 100%;
    height: 100%;
}
.rammslogo{
    width: 100%;
    top: 70%;
    left: 1%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: 1;
}
.tilllind{
    width: 100%;
    top: 2%;
    left: -2%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: 1;
}
.Rammstein:hover .tilllind{
    opacity: 1;
    scale: 0.7;
    transform: translate3d(0%, -5%, 100px);
}
.Rammstein:hover .rammslogo{
    opacity: 1;
    scale: 0.8;
    transform: translate3d(0%, -5%, 100px);
}
.Rammstein:hover .fondorammstein{
    filter: brightness(50%);
}
.Scorpions{
    top: 50%;
    left: 75%;
    width: 20%;
    height: 30%;
}
.fondoscorpions{
    top: 5%;
    left: 5%;
    width: 100%;
    height: 100%;
}
.scorpionslogo{
    width: 100%;
    opacity: 0;
    top: 65%;
    left: -2%;
    transition: all 0.5s;
    position: absolute;
    z-index: 1;
}
.bandascorpions{
    width: 100%;
    top: -5%;
    left: -2%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: 1;
}
.Scorpions:hover .fondoscorpions{
    filter: brightness(50%);
}
.Scorpions:hover .bandascorpions{
    opacity: 1;
    scale: 0.9;
    transform: translate3d(0%, 5%, 100px);
}
.Scorpions:hover .scorpionslogo{
    opacity: 1;
    scale: 0.9;
    transform: translate3d(0%, 5%, 100px);
}

.contenido .arriba td div:hover{
    top: 3%;
}
.contenido tr td div:hover{
    top: 46%;
}
.character{
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: 1;
}

