body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    background-image: url(../Imagenes/fondo-princip.jpg);
    gap: 20px;
}
.pepe{
    z-index: 2;
}
.caja{
    padding-top: -10%;
    position: absolute;
    height: 40px;
    width:98.2%;
    background-color: white;
    text-align: center;
    padding-top: 1.5%;
    font-weight: bold;
    font-size: large;
    border: solid black;
}
.caja div{
    margin-left: 5%;
    display:inline;
}
.caja div a{
    text-decoration: none;
}
.wellcome{
    left: 5%;
    position: absolute;
    margin-top: 8%;
    width: 90.3%;
    height: 8%;
    text-align: center;
    padding-top: 0.9%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: x-large;
    background-color: rgba(107, 105, 105, 0.932);
    border-color: black;
    border-style:solid;
    z-index: 1;
}
p{
    position: absolute;
    left: 36%;
    top: -5%;
}
.pepe{
    position: absolute;
    top: -40%;
    scale: 0.5;
    left: 27%;
}
.pepe2{
    position: absolute;
    top: -40%;
    scale: 0.5;
    left: 61.7%;
    transform: rotateY(180deg);
    z-index: 1;
}
.contenido{
    position: absolute;
    left: 5%;
    width: 90.3%;
    height: 150%;
    top: 28.7%;
    background-color: white;
    border: solid black;
    border-top: none;
}
.contenido .cajas div{
    position: absolute;
    box-shadow:10px 10px 50px black;
    background-color: red;
    transition: .35s ease-in-out;
}
.contenido .cajas2 div{
    position: absolute;
    box-shadow:10px 10px 50px black;
    background-color: red;
    transition: .35s ease-in-out;
}
.Slipknot{
    top: 5%;
    left: 5%;
    width: 20%;
    height: 30%;
}
.SystemOfADown{
    top: 5%;
    left: 40%;
    width: 20%;
    height: 30%;
}
.GunsRoses{
    top: 5%;
    left: 75%;
    width: 20%;
    height: 30%;
}
.Korn{
    top: 50%;
    left: 5%;
    width: 20%;
    height: 30%;
}
.Rammstein{
    top: 50%;
    left: 40%;
    width: 20%;
    height: 30%;
}
.BringMeHorizon{
    top: 50%;
    left: 75%;
    width: 20%;
    height: 30%;
}
.contenido .cajas div:hover{
    background-color: lightblue;
    top: 3%;
}
.contenido .cajas2 div:hover{
    background-color: lightblue;
    top: 46%;
}
/* .Slipknot:hover{
    background-color: lightblue;
    top: 3%;
}
.SystemOfADown:hover{
    background-color: lightblue;
    top: 3%;
}
.GunsRoses:hover{
    background-color: lightblue;
    top: 3%;
}
.Korn:hover{
    background-color: lightblue;
    top: 47%;
}
.Rammstein:hover{
    background-color: lightblue;
    top: 47%;
}
.BringMeHorizon:hover{
    background-color: lightblue;
    top: 47%;
} */
@media screen and (max-width: 600px) {
    .contenido{
      display:contents;
    }
    .wellcome{
        display:block;
      }
      .pepe{
        display: block;
      }
      .pepe2{
        display: block;
      }
  }